article.block-image-text(:class="props.background ? 'block-image-text--' + props.background : null", :id='props.section_id ? props.section_id.toLowerCase() : null', :data-texture='props.add_texture', :data-large-image='props.large_image')
  //- pre {{props}}
  BaseTexture(v-if='props.add_texture')
  .block-image-text__gradient(v-if='props.linear_gradient', :style="{ background: props.linear_gradient }")
  .block-image-text__large-image-container(v-if='props.large_image', :class="{ 'block-image-text__large-image-container--reverse': props.reverse}")
    BaseImage.block-image-text__image(:src='props.image.src', :webp='props.image.webp', :alt='props.image.alt ? props.image.alt : ""', :aria-hidden=' props.image.aria_hidden ? "true" : null ' imageBackground, :bgColor='props.image.loading_mask ? props.image.loading_mask : undefined ')
  .block-image-text__container(:class="{ 'block-image-text__container--reverse': props.reverse }")
    .block-image-text__left(v-if='!props.large_image')
      .block-image-text__image-container(:style="{ height: contentHeight }")
        BaseImage.block-image-text__image(:src='props.image.src', :webp='props.image.webp', :alt='props.image.alt', :aria-hidden=' props.image.aria_hidden ? "true" : null ' imageBackground, :object-position="'center top'", :bgColor='props.image.loading_mask ? props.image.loading_mask : undefined ')
      .block-image-text__video-wrapper(v-if='props.video.src')
        video.block-image-text__video(:src='props.video.src' controls type='video/mp4' ref='video')    
    .block-image-text__right(:class="{ 'block-image-text__right--large-image': props.large_image }")
      .block-image-text__content(ref='contentHeight')
        h2.block-image-text__title(v-html='props.title', v-if='!props.large_title && props.title' ref='itTitle', :class="{ 'block-image-text__title--primary': props.title_alt }")
        h2.block-image-text__title.block-image-text__title--large(v-html='props.title', v-else-if='props.large_title && props.title' ref='itTitle', :class="{ 'block-image-text__title--primary': props.title_alt }")
        p.block-image-text__paragraph(v-html='props.subtext')
        //- .block-image-text__paragraph(v-for='(paragraph, i) in props.paragraphs', :key='`image-text-paragraph-${i}`' ref='itParagraphs')
        //-   h3.block-image-text__paragraph-heading(v-if='paragraph.heading' v-html='paragraph.heading')
        //-   p.block-image-text__paragraph-text(v-html='paragraph.text')
        BlockAccordionSmall(:props='props')
        .block-image-text__buttons(v-if='props.has_buttons' ref='itBtns')
          BaseButtonCta.block-image-text__button(v-for='(btn, i) in props.buttons', :key='`item-text-btn-${i}`', :props='btn')          
