section.block-contact(:class="props.background ? 'block-contact--' + props.background : null")
  .block-contact__gradient(v-if='props.linear_gradient', :style="{ background: props.linear_gradient }")
  .block-contact__container
    .block-contact__map-container
      .block-contact__map(ref='theMap')
    
    .block-contact__divider
    
    .block-contact__content-container
      .block-contact__content
        h2.block-contact__title(v-html='props.title')
        .block-contact__info
          pre {{ location }}
          .block-contact__info-left
            p.block-contact__location(v-html='location.title ? location.title : global.company_name' v-if='location.title || global.company_name')
            .block-contact__address
              p.block-contact__street(v-html='location.address.street')
              p.block-contact__suite(v-html='location.address.suite')
              p.block-contact__city-state(v-html='location.address.city_state')
            BaseButtonSimple.block-contact__directions(:props='location.directions_link' noArrow)
            .block-contact__contact
              a.block-contact__phone(:href='global.phone.href' v-if='global.phone.href', :aria-label='`Call us at ${phoneAria}`')
                BaseIcon.block-contact__icon(name='phone')
                span.block-contact__label(v-html='global.phone.number')
              a.block-contact__email(:href='`mailto:${global.email}`')
                BaseIcon.block-contact__icon(name='envelope')
                span.block-contact__label(v-html='global.email')
          
          .block-contact__info-right
            .block-contact__hours-container(v-if='location.hours')
              .block-contact__hours-title Hours:
              ul.block-contact__hours-list
                li.block-contact__row(v-for='(item, i) in location.hours', :key='`contact-hours-${i}`')
                  p.block-contact__day(v-html='item.day')
                  p.block-contact__hours(v-html='item.time')
            .block-contact__special-note(v-if='location.special_note', :data-bg-alt='props.background')
              p.block-contact__note-text(v-html='location.special_note')
